/Linguagens1_Projetos/pratica2/exercicio1/Concessionaria/build/
/Linguagens1_Projetos/pratica2/exercicio2/testeHeranca/nbproject/private/
/Linguagens1_Projetos/pratica2/exercicio3/testeHeranca2/build/
/Linguagens1_Projetos/pratica3/ExercicioInterfaces/nbproject/private/
/Linguagens1_Projetos/pratica3/ExercicioInterfaces/build/
/Linguagens1_Projetos/pratica5/exercicio1/swingConan/nbproject/private/
/Linguagens1_Projetos/pratica5/exercicio1/swingConan/build/
/Linguagens1_Projetos/pratica5/exercicio1/Tela2/nbproject/private/
/Linguagens1_Projetos/pratica5/exercicio1/Tela2/build/
/Linguagens1_Projetos/pratica5/exercicio1/swingConan/dist/
/Linguagens1_Projetos/pratica5/ex3/ olajavafx/nbproject/private/
/Linguagens1_Projetos/pratica5/ex3/ olajavafx/dist/
/Linguagens1_Projetos/pratica5/ex3/ olajavafx/build/
/Linguagens1_Projetos/pratica6/exercicio1/Tela/nbproject/private/
/Linguagens1_Projetos/pratica6/exercicio1/Tela/dist/
/Linguagens1_Projetos/pratica6/exercicio1/Tela/build/
/Linguagens1_Projetos/pratica7/JavaApplication3/nbproject/private/
/Linguagens1_Projetos/pratica7/JavaApplication3/build/
/Linguagens1_Projetos/pratica7/ex2/ListaDeComprasBonita/nbproject/private/
/Linguagens1_Projetos/pratica7/ex3/Celular/nbproject/private/
/Linguagens1_Projetos/pratica7/ex2/ListaDeComprasBonita/build/
/Linguagens1_Projetos/pratica7/ex2/ListaDeComprasBonita/dist/
/Linguagens1_Projetos/pratica8/ex1/testelinkedlist/nbproject/private/
/Linguagens1_Projetos/pratica8/ex1/testelinkedlist/build/
/Linguagens1_Projetos/pratica9/ex1/TesteErro/nbproject/private/
/Linguagens1_Projetos/pratica9/ex1/TesteErro/build/
/Linguagens1_Projetos/pratica10/ex1/bancodds/nbproject/private/
/Linguagens1_Projetos/pratica10/ex1/OrganizandoJavaV2/nbproject/private/
/Linguagens1_Projetos/pratica10/ex11/OrganizandoJavaV2/nbproject/private/
/Linguagens1_Projetos/pratica10/ex1/OrganizandoJavaV2/build/
/Linguagens1_Projetos/pratica10/ex1/OrganizandoJavaV2/dist/
/Linguagens1_Projetos/pratica10/ex11/OrganizandoJavaV2/dist/
/Linguagens1_Projetos/pratica10/ex11/OrganizandoJavaV2/build/
/Linguagens1_Projetos/pratica10/ex111/LibExemplo/nbproject/private/
/Linguagens1_Projetos/pratica10/ex111/LibExemplo/build/
/Linguagens1_Projetos/pratica10/ex111/LibExemplo/dist/