/Linguagens1_Projetos/pratica2/exercicio1/Concessionaria/build/
/Linguagens1_Projetos/pratica2/exercicio2/testeHeranca/nbproject/private/
/Linguagens1_Projetos/pratica2/exercicio3/testeHeranca2/build/
/Linguagens1_Projetos/pratica3/ExercicioInterfaces/nbproject/private/
/Linguagens1_Projetos/pratica3/ExercicioInterfaces/build/
/Linguagens1_Projetos/pratica5/exercicio1/swingConan/nbproject/private/
/Linguagens1_Projetos/pratica5/exercicio1/swingConan/build/
/Linguagens1_Projetos/pratica5/exercicio1/Tela2/nbproject/private/
/Linguagens1_Projetos/pratica5/exercicio1/Tela2/build/
/Linguagens1_Projetos/pratica5/exercicio1/swingConan/dist/
/Linguagens1_Projetos/pratica5/ex3/ olajavafx/nbproject/private/
/Linguagens1_Projetos/pratica5/ex3/ olajavafx/dist/
/Linguagens1_Projetos/pratica5/ex3/ olajavafx/build/
/Linguagens1_Projetos/pratica6/exercicio1/Tela/nbproject/private/
/Linguagens1_Projetos/pratica6/exercicio1/Tela/dist/
/Linguagens1_Projetos/pratica6/exercicio1/Tela/build/
/Linguagens1_Projetos/pratica7/JavaApplication3/nbproject/private/
/Linguagens1_Projetos/pratica7/JavaApplication3/build/
/Linguagens1_Projetos/pratica7/ex2/ListaDeComprasBonita/nbproject/private/
/Linguagens1_Projetos/pratica7/ex3/Celular/nbproject/private/
/Linguagens1_Projetos/pratica7/ex2/ListaDeComprasBonita/build/
/Linguagens1_Projetos/pratica7/ex2/ListaDeComprasBonita/dist/
/Linguagens1_Projetos/pratica8/ex1/testelinkedlist/nbproject/private/
/Linguagens1_Projetos/pratica8/ex1/testelinkedlist/build/
/Linguagens1_Projetos/pratica9/ex1/TesteErro/nbproject/private/
/Linguagens1_Projetos/pratica9/ex1/TesteErro/build/
/Linguagens1_Projetos/pratica10/ex1/bancodds/nbproject/private/
/Linguagens1_Projetos/pratica10/ex1/OrganizandoJavaV2/nbproject/private/
/Linguagens1_Projetos/pratica10/ex11/OrganizandoJavaV2/nbproject/private/
/Linguagens1_Projetos/pratica10/ex1/OrganizandoJavaV2/build/
/Linguagens1_Projetos/pratica10/ex1/OrganizandoJavaV2/dist/
/Linguagens1_Projetos/pratica10/ex11/OrganizandoJavaV2/dist/
/Linguagens1_Projetos/pratica10/ex11/OrganizandoJavaV2/build/
/Linguagens1_Projetos/pratica10/ex111/LibExemplo/nbproject/private/
/Linguagens1_Projetos/pratica10/ex111/LibExemplo/build/
/Linguagens1_Projetos/pratica10/ex111/LibExemplo/dist/
/Linguagens1_Projetos/pratica11/HelloSQL/nbproject/private/
/Linguagens1_Projetos/pratica11/oisql/nbproject/private/
/Linguagens1_Projetos/pratica11/oisql/build/
/Linguagens1_Projetos/pratica11/oisql/dist/
/Linguagens1_Projetos/pratica11/helloinsert/nbproject/private/
/Linguagens1_Projetos/pratica11/helloinsert/build/
/Linguagens1_Projetos/extras/at3treino/aluninhos/nbproject/private/
/Linguagens1_Projetos/pratica12/sitemao/nbproject/private/
/Linguagens1_Projetos/pratica12/sitemao/build/
/Linguagens1_Projetos/pratica12/sitemao/dist/
/Linguagens1_Projetos/pratica12/compra/nbproject/private/
/Linguagens1_Projetos/pratica13/nsei/nbproject/private/
/Linguagens1_Projetos/pratica13/servidor/nbproject/private/
/Linguagens1_Projetos/pratica13/servidor/build/
/Linguagens1_Projetos/pratica13/Client/nbproject/private/
/Linguagens1_Projetos/pratica13/Client/build/
/Linguagens1_Projetos/n+1/Tered/nbproject/private/
/Linguagens1_Projetos/n+1/Tered/build/
/Linguagens1_Projetos/pratica12/cadastro/nbproject/private/
/Linguagens1_Projetos/pratica12/cadastro/build/
/Linguagens1_Projetos/pratica12/cadastro/dist/